body {
    background: #ffd2e5;
}

.datetime {
    margin-top: 38px;
    color: white;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0.2em #ff8fb4;
    text-align: center;
}

.clock {
    width: 24rem;
    height: 24rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: 20px solid white;
    border-radius: 50%;
    box-shadow:
        0 0 0 4px #ffc6d983,
        inset 0 0 0 3px #ffebebbe,
        inset 0 0 10px #ffa1c1de,
        0 0 10px #ffa1c1de;
}

.clock-face {
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.center {
    line-height: 405px;
    color: white;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    
}
.hand {
    width: 50%;
    height: 8px;
    background: #ff8fb4;
    position: absolute;
    top: 50%;
    z-index: -1;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 2.0, 0.58, 1);
    
}

.hour-hand {
    width: 150px;
    margin-left: 11%;
}

.sec-hand {
    height: 4px;
    background: #ffb7cd;
}